*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
.footermain{
    width: 100%;
    height: 220px;
    background-color: rgb(16, 16, 52);
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    margin-top: 20px;
}
.footer_logo{
    /* margin-top: 15px; */
    font-weight: 900;
    background: linear-gradient(to right, rgba(75, 215, 129, 0) 0%, rgba(69, 135, 89, 0.5) 20%, rgba(82, 194, 222, 0) 61%), linear-gradient(rgb(38, 213, 114) 52%, rgb(54, 197, 90) 60%, rgb(84, 200, 218) 61%);
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footermain .left button{
    background-color: white;
    color: rgb(19, 45, 106);
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    outline: none;
    padding: 12px 14px;
    border-radius: 5px;
    margin-top: 10px;
}
.footermain .left{
    margin-left: 250px;
}
.footermain .right{
    display: flex;
    flex-wrap: column;
    padding-right: 120px;
}
.list{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
}
.list a{
    color: white;
    font-size: 0.9rem;
    margin-bottom: 4px;
}
.list a:hover{
    color: rgb(7, 74, 98);
}
.heading{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 6px;
}
.Navbar_nav{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgb(44, 44, 93);
    padding: 5px 90px;
    align-items:center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    flex-wrap: wrap;
    gap: 10px;
    top: 0;
}
.Navbar_nav .right,.Navbar_nav .left {
    display: flex;
    gap: 40px;
    align-items:center;
}

.Navbar_logo{
    /* margin-top: 15px; */
    font-weight: 900;
    background: linear-gradient(to right, rgba(75, 215, 129, 0) 0%, rgba(69, 135, 89, 0.5) 20%, rgba(82, 194, 222, 0) 61%), linear-gradient(rgb(38, 213, 114) 52%, rgb(54, 197, 90) 60%, rgb(84, 200, 218) 61%);
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.Navbar_movie, .Navbar_tv{
    margin-left: 3%;
}

.Navbar_movie_heading, .Navbar_tv_heading{
    padding-bottom: 0%;
    color: #fff;
    cursor: pointer;
    font-size: 1.2vw;
    font-weight: 400;
}
.search{
  color: white;
  text-decoration: none;
}
.Navbar_movie-list, .Navbar_tv-list{
    /* background-color: #fff; */
    background-color: rgb(44, 44, 93);
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 60%;
    display: none;
    z-index: 999;
    color: white;
}

.Navbar_movie_heading:hover +.Navbar_movie-list, .Navbar_tv_heading:hover +.Navbar_tv-list{
 display: block;
}

.Navbar_movie-list:hover{
    display: block;
}
.Navbar_tv-list:hover{
    display: block;
}

.Navbar_movie-list ul, .Navbar_tv-list ul {
 display: flex;
 list-style: none;
 padding-left: 0;
 padding-right: 10px;
 flex-direction: column;
}

.Navbar_movie-list ul a, .Navbar_tv-list ul a{
    font-size: 1rem;
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: rgb(43, 43, 97);
    opacity: 0.8;
    position: relative;
}
.overlay2{
    height: 100%;
    width: 100%;
    background-color: rgb(49, 48, 101);
    opacity: 0.8;
    position: relative;
}

.fd_overlay-content{
    position: absolute;
    top: 25%;
    left: 10%;
}

.fd_overlay-content h4{
    color: #fff;
    font-size: 3.4rem;
    /* font-family: 'Abril Fatface', cursive; */
}

.fd_overlay-content p{
    color: #fff;
    font-size: 2.5rem;
    /* font-family: 'Domine', serif; */

}
.data{
    width: 980px;
    height: 60px;
     /* position: absolute;
    top: 29.5%; 
    left: 20%;  */
    margin-top: 30px;
    border-radius: 200px;
    /* background-color: blue; */
    /* border-radius: 200px; */
    background-color: rgb(255, 255, 255);
    color: white;
    display: flex;
    /* padding: 30px; */
    align-items: center;
    justify-content: space-between;
}
.input{
    font-size: 1.1em;
    font-weight: 400;
    width: 600px;
    padding: 10px 40px;
    margin-left: 30px;
    background-color: white;
    color: black;
    border: none;
    outline: none;
}
.button{
    width: 120px;
    height: 60px;
    /* background-color: red; */
    display: flex;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    align-items: center;
    justify-content: center;
    font-family: gilroy;
    font-size: 1.2em;
    background-color: rgb(3, 9, 58);
   /* background-color: rgb(227, 130, 26); */
}


.movie_link{
    text-decoration: none;
    color: black;
}
.trendingMovie{
    margin-top: 5px;
    height: 380px;
    padding: 5px 30px;
    background-color: aliceblue;
}
.popular_cardholder-card{
    border: none;
    outline: none;
    border: 2px solid red;
}
.popular_card-header img{

    width: 200px;
    min-width: 200px; 
}
.popular_cardholder{
     border: none;
    outline: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.tre{
    margin-top: -60px;
}

.tm_heading{
    /* font-family: 'Abril Fatface', cursive; */
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.tm_cardholder{
    display: flex;
    gap: 50px;
    align-items: flex-start;
    width: 100%;
    overflow-x: scroll;
}

.tm_cardholder-card{
  width: 150px;
  min-width: 150px;
}

.date{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;font-size: 0.8rem;
}
.popular_cardholder{
    margin-top: 0px;
    margin-bottom: 0px;
}
.popular_cardholder-card{
    width: 200px;
     min-width: 200px; 
}
.tm_cardholder-card img{
    border-radius: 10px;
}
.tm_cardholder-card img{
    width: 180px;
    min-width: 180px;
}

.tm_cardholder-card .card-title{
    font-size: 1rem;
}

.tm_card_circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:rgb(44, 44, 93); 
    position: absolute;
    top: 88%;
    left: 2%;
    padding: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular_cardHolder{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 40px 50px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.popular_cardholder-card{
    border-radius: 10px;
    border: 1px solid grey;
}

.popular_cardholder-card img{
    border-radius: 10px;
}
.popular_cardholder-card .card-body{
    padding-left: 10px;
}
.popular_card-title{
    font-size: 1rem;
    font-weight: 700;
}
.id_singleMovieHolder{
    height: 100%;
    width: 100%;
    margin-top: 70px;
    display: flex;
    padding: 0 ;
    
}
.left-img-card{
    width: 25%;
    padding: 25px 0;
    background-color:  rgb(44, 44, 90);
    padding: 20px 20px;
}

.id_img-cardholder{
    width: 20vw;
    border-radius: 10px;
    height: 90%;
}

.left-img-card:hover .id_img-cardholder {
   opacity: 0.7;
}
.right-content-card{
    width: 90%;
    background-size: cover;
    background-position-x: left calc((30vw - 170px) - 340px);
    background-position-y: 10%;
    background-repeat: no-repeat;
}

.id_overlay {
    padding: 50px 20px;
    color: #fff;
    opacity: 0.85;
}

.id_overlay>h1{
    flex-wrap: wrap;
}

.id_short-info{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 0%;
    padding: 0%;
    margin-top: 10px;
    flex-wrap: wrap;
}

.id_overview{
    margin-top: 30px;
}

.id_genres-list{
    display: flex;
    list-style: none;
    gap: 0.5vw;
    flex-wrap: wrap;
    margin-bottom: 0%;
}
.id_short-info>p , .id_short-info ul{
    margin-bottom: 0%;
}
.id_genres-list>li:first-child{
    list-style-type: disc;   
}
.id_percent-circle{
    height: 50px;
    width: 50px;
    background-color:black;
    border-radius: 50%;
    padding: 10px;
}
.id_prg-info{
    display: flex;
    gap:10px;
   align-items: center;
   margin-top: 10px;
}
.progress-bar p{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 99;
   color: black;
  }
.progress-bar:hover{
    scale: 1.05;
}

.Loader{
    font-weight: 200;
    color: #5a5757;
    font-size: 1rem;
}
.main{
    width: 85%;
    height: 350px;
    margin: 0px 6.5%;
    background-image: url('https://www.themoviedb.org/t/p/w880_and_h600_multi_faces_filter(duotone,00192f,00baff)/dKqa850uvbNSCaQCV4Im1XlzEtQ.jpg');
    background-size: cover;
    background-position: center 40%;
}
@media (max-width: 1280px) {
    .footermain{
    width: 100%;
    height: 220px;
    background-color: rgb(16, 16, 52);
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    margin-top: 20px;
}
.footer_logo{
    /* margin-top: 15px; */
    font-weight: 900;
    background: linear-gradient(to right, rgba(75, 215, 129, 0) 0%, rgba(69, 135, 89, 0.5) 20%, rgba(82, 194, 222, 0) 61%), linear-gradient(rgb(38, 213, 114) 52%, rgb(54, 197, 90) 60%, rgb(84, 200, 218) 61%);
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footermain .left button{
    background-color: white;
    color: rgb(19, 45, 106);
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    outline: none;
    padding: 12px 14px;
    border-radius: 5px;
    margin-top: 10px;
}
.footermain .left{
    margin-left: 160px;
}
.footermain .right{
    display: flex;
    flex-wrap: column;
    padding-right: 80px;
}
.list{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}
.list a{
    color: white;
    font-size: 0.9rem;
    margin-bottom: 4px;
}
.list a:hover{
    color: rgb(7, 74, 98);
}
.heading{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 6px;
}
    .popular_cardHolder{
        padding: 40px 20px;
    }
    .main{
        margin: 0px 7.5%;
    }
    /* .overlay{
    height: 100%;
    width: 100%;
    background-color: rgb(43, 43, 97);
    opacity: 0.8;
    position: relative;
} */

    .data{
    width: 780px;
    height: 60px;
     /* position: absolute;
    top: 29.5%; 
    left: 20%;  */
    margin-top: 30px;
    border-radius: 200px;
    /* background-color: blue; */
    /* border-radius: 200px; */
    background-color: rgb(255, 255, 255);
    color: white;
    display: flex;
    /* padding: 30px; */
    align-items: center;
    justify-content: space-between;
}
.input{
    font-size: 1.1em;
    font-weight: 400;
     width: 600px; 
    /* width: 60%; */
    padding: 10px 40px;
    margin-left: 30px;
    background-color: white;
    color: black;
    border: none;
    outline: none;
}
.button{
    width: 120px;
    height: 60px;
    /* background-color: red; */
    display: flex;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    align-items: center;
    justify-content: center;
    font-family: gilroy;
    font-size: 1.2em;
    /* background-color: rgb(2, 47, 79); */
    background-color: rgb(3, 9, 58);
   /* background-color: rgb(227, 130, 26); */
}
}

@media (max-width: 1200px)  {
    .Navbar_movie_heading, .Navbar_tv_heading{
        font-size: 1.35rem;
    }
}

@media (max-width:1100px) {
    .footermain{
    width: 100%;
    height: 220px;
    background-color: rgb(16, 16, 52);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.footer_logo{
    /* margin-top: 15px; */
    font-weight: 900;
    background: linear-gradient(to right, rgba(75, 215, 129, 0) 0%, rgba(69, 135, 89, 0.5) 20%, rgba(82, 194, 222, 0) 61%), linear-gradient(rgb(38, 213, 114) 52%, rgb(54, 197, 90) 60%, rgb(84, 200, 218) 61%);
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footermain .left button{
    background-color: white;
    color: rgb(19, 45, 106);
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    outline: none;
    padding: 12px 14px;
    border-radius: 5px;
    margin-top: 10px;
}
.footermain .left{
    /* margin-left: 120px; */
    margin-left: 6em;
}
.footermain .right{
    display: flex;
    flex-wrap: column;
    /* padding-right: 20px; */
    padding-right: 2em;
}
.list{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    /* padding: 0px 20px; */
    padding: 0em 1em;
}
.list a{
    color: white;
    font-size: 0.8rem;
    margin-bottom: 4px;
}
.list a:hover{
    color: rgb(7, 74, 98);
}
.heading{
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 6px;
}
    .left-img-card {
        width: 30%;
    }
    .id_img-cardholder{
        width: 25vw;
    }
    .right-content-card{
        width: 70%;
    }
    .data{
        width: 680px;
    }
}
@media (max-width:830px){
    .data{
        width: 520px;
    }
     .footermain{
    width: 100%;
    height: 220px;
    background-color: rgb(16, 16, 52);
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    margin-top: 20px;
}
.footer_logo{
    /* margin-top: 15px; */
    font-weight: 900;
    background: linear-gradient(to right, rgba(75, 215, 129, 0) 0%, rgba(69, 135, 89, 0.5) 20%, rgba(82, 194, 222, 0) 61%), linear-gradient(rgb(38, 213, 114) 52%, rgb(54, 197, 90) 60%, rgb(84, 200, 218) 61%);
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footermain .left button{
    margin-top: 10px;
}
.footermain .left{
    /* margin-right: 0px; */
    margin-left: 15px;
}
.footermain .right{
    display: flex;
    flex-wrap: column;
    padding-right: 10px;
}
.list{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 0px 6px;
}
.list a{
    color: white;
    font-size: 0.9rem;
    margin-bottom: 4px;
}
.list a:hover{
    color: rgb(7, 74, 98);
}
.heading{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 6px;
}
}

@media (max-width:930px){
     .footermain{
    width: 100%;
    height: 230px;
    background-color: rgb(16, 16, 52);
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    margin-top: 20px;
}
.footer_logo{
    /* margin-top: 15px; */
    font-weight: 900;
    background: linear-gradient(to right, rgba(75, 215, 129, 0) 0%, rgba(69, 135, 89, 0.5) 20%, rgba(82, 194, 222, 0) 61%), linear-gradient(rgb(38, 213, 114) 52%, rgb(54, 197, 90) 60%, rgb(84, 200, 218) 61%);
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footermain .left button{
    margin-top: 10px;
}
.footermain .left{
    /* margin-right: 0px; */
    margin-left: 15px;
}
.footermain .right{
    display: flex;
    flex-wrap: column;
    padding-right: 10px;
}
.list{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}
.list a{
    color: white;
    font-size: 0.9rem;
    margin-bottom: 4px;
}
.list a:hover{
    color: rgb(7, 74, 98);
}
.heading{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 6px;
}
}
@media (max-width:800px) {
    /* .Navbar_logo{
        margin-left: 30px;
    }*/
    .footermain{
    width: 100%;
    height: 220px;
    background-color: rgb(16, 16, 52);
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    margin-top: 20px;
}
.footer_logo{
    /* margin-top: 15px; */
    font-weight: 900;
    background: linear-gradient(to right, rgba(75, 215, 129, 0) 0%, rgba(69, 135, 89, 0.5) 20%, rgba(82, 194, 222, 0) 61%), linear-gradient(rgb(38, 213, 114) 52%, rgb(54, 197, 90) 60%, rgb(84, 200, 218) 61%);
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footermain .left button{
    background-color: white;
    color: rgb(19, 45, 106);
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    outline: none;
    padding: 10px 8px;
    border-radius: 5px;
    margin-top: 10px;
}
.footermain .left{
    /* margin-right: 0px; */
    margin-left: 10px;
}
.footermain .right{
    display: flex;
    flex-wrap: column;
    padding-right: 10px;
}
.list{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 0px 3px;
}
.list a{
    color: white;
    font-size: 0.9rem;
    margin-bottom: 4px;
}
.list a:hover{
    color: rgb(7, 74, 98);
}
.heading{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 6px;
}
    .Navbar_movie-list, .Navbar_tv-list{ 
        top: 100.3%;
        
    }
    .Navbar_nav{
        padding: 5px 22px;
    }
    .data{
        width: 500px;
    }
    /* .search
        display: none;
    } */
    .left-img-card {
        width: 40%;
    }
    .id_img-cardholder{
        width: 30vw;
        height: 80%;
    }
    .right-content-card{
        width: 60%;
    }
}

@media (max-width:700px){
    .footermain{
    width: 100%;
    height: 220px;
    background-color: rgb(16, 16, 52);
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    margin-top: 20px;
}
.footer_logo{
    /* margin-top: 15px; */
    font-weight: 900;
    background: linear-gradient(to right, rgba(75, 215, 129, 0) 0%, rgba(69, 135, 89, 0.5) 20%, rgba(82, 194, 222, 0) 61%), linear-gradient(rgb(38, 213, 114) 52%, rgb(54, 197, 90) 60%, rgb(84, 200, 218) 61%);
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footermain .left button{
    background-color: white;
    color: rgb(19, 45, 106);
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    outline: none;
    padding: 10px 5px;
    border-radius: 5px;
    margin-top: 10px;
}
.footermain .left{
    margin-left: 10px;
}
.footermain .right{
    display: flex;
    flex-wrap: column;
    padding-right: 10px;
}
.list{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
}
.list a{
    color: white;
    font-size: 0.7rem;
    margin-bottom: 4px;
}
.list a:hover{
    color: rgb(7, 74, 98);
}
.heading{
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 6px;
}
    .fd_overlay-content h4{
    color: #fff;
    font-size: 3rem;
    /* font-family: 'Abril Fatface', cursive; */
}

.fd_overlay-content p{
    color: #fff;
    font-size: 2rem;
    /* font-family: 'Domine', serif; */

}
    .data{
        width: 350px;
        margin-top: 10px;
    }
    .input{
        width: 100px;
         width: 240px;
        margin-left: 7px;
    }
    .button{
        width: 80px;
    }
    .id_overlay>h1{
        font-size: 1.2rem;
    }
    .id_singleMovieHolder{
        display: block;
    }
    .left-img-card {
        width: 100%;
        text-align: center;
        background-color: #fff;
    }
    .id_img-cardholder{
        width: 40vw;
        height: 80%;
    }
    .right-content-card{
        width: 100%;
    }
}
 @media (max-width: 550px){
    .footermain .left{
    margin-left: 10px;
}
.footermain .right{
    display: flex;
    flex-wrap: column;
    padding-right: 10px;
}
.list{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
}
.footermain .left button{
    padding: 8px 8px;
}

 }
 @media (max-width: 500px) {
    .popular_card-header img{

    width: 248px;
    min-width: 248px; 
}
    .footermain{
    width: 100%;
    height: 610px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    margin-top: 20px;
}
.footermain .left button{
    font-size: 1.1rem;
    font-weight: 700;
    padding: 12px 14px;
    border-radius: 5px;
    margin-top: 10px;
}
.footermain .left{
    margin-left: 0px;
}
.footermain .right{
    display: flex;
    flex-direction: column;
}
.list{
    padding: 0px 0px;
    margin-bottom: 5px;
}
.list a{
    font-size: 0.9rem;
    margin-bottom: 4px;
    margin-left: 60px;
}
.heading{
    margin-left: 50px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 6px;
    margin-top: 5px;
}
    .Navbar_nav{
        height: 85px;
        gap:5px;
    }
    .popular_cardHolder{
        padding-top: 50px;
    }
    .popular_cardholder-card{
        min-width: 250px;
    }
    .id_singleMovieHolder{
        margin-top: 85px;
    }
    .data{
        width: 250px;
        margin-top: 10px;
    }
    .input{
        width: 180px;
        margin-left: 20px;
        padding: 10px 0px;
    }
    .button{
        width: 50px;
    }
 }

 @media (max-width:450px){
    .id_img-cardholder{
        width: 60vw;
        height: 80%;
    }
 }
 @media (max-width:290px){
    .data{
        width: 190px;
        margin-top: 10px;
    }
    .input{
        /* width: 90px; */
         width: 140px;
        margin-left: 7px;
    }
    .button{
        width: 60px;
    }
    .fd_overlay-content h4{
    color: #fff;
    font-size: 2.8rem;
    /* font-family: 'Abril Fatface', cursive; */
}

.fd_overlay-content p{
    color: #fff;
    font-size: 1.7rem;
    /* font-family: 'Domine', serif; */
}
 }